@page
@using Microsoft.AspNetCore.Http
@model Pendu.Pages.JeuModel
@{
	ViewData["Title"] = "Jeu";
}

<div class="game">
	@if (Model.Jeu.Won)
	{
		<h1 class="custom-font">Bravo !</h1>
		<p>Le mot est bien @Model.Jeu.SecretWord !</p>
		<a asp-page-handler="NewGame" class="btn btn-primary">Commencer une autre partie</a>
	}
	else if(Model.Jeu.Lost)
	{
		<h1 class="custom-font">Ouin ouin...</h1>
		<p>Tu as fait 10 erreurs; le mot était @Model.Jeu.SecretWord</p>
		<a asp-page-handler="NewGame" class="btn btn-primary">Commencer une autre partie</a>
	}
	else
	{
		@if (Model.Jeu.Mistakes > 0)
		{
			<img src="assets/pendu@{@Model.Jeu.Mistakes}.svg"  alt="Dessin de @{@Model.Jeu.Mistakes} barres"/>
			<span>
				Tu as fait <strong>@Model.Jeu.Mistakes</strong> erreurs.
			</span>
		}
		else
		{
			<h2 class="custom-font">Propose une lettre</h2>
		}
		<div class="known-letters">
			@foreach(var character in @Model.Jeu.KnownLetters)
			{
				<span>@character</span>
			}
		</div>
		<div class="keyboard">
			@foreach (var character in "ABCDEFGHIJKLMNOPQRSTUVWXYZ")
			{
				<a asp-page-handler="IsGoodGuess" asp-route-guess="@character" class="btn btn-outline-dark">@character</a>
			}
		</div>
	}
</div>
